:root {
  --nav-color: rgba(61, 61, 61, 0.411);
  --user-color: rgba(5, 143, 185, 0.37);
  --text-color: #ebebeb;
  --icon-color: #e9e9e9;
  --bg-color: #386c70;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--text-color);
  text-decoration: none;
  font-size: 25px;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
@keyframes neonAnim {
  from {
    text-shadow: 0 0 29px rgba(73, 255, 0, 0.7),
      0 0 59px rgba(73, 255, 0, 0.7),
      0 0 119px rgba(73, 255, 0, 0.7);
  }
  to {
    text-shadow: 0 0 24px rgba(73, 255, 0, 0.7),
      0 0 39px rgba(73, 255, 0, 0.7),
      0 0 79px rgba(73, 255, 0, 0.7);
  }
}
//NAVBAR

.toggler {
  box-shadow: 10px 10px 10px rgb(56, 56, 56);

  transition: 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 10000;
  position: fixed;
  top: -20px;
  left: 280px;
  background-color: rgba(255, 255, 255, 0.486);
  // width: 40px;
  // height: 30px;
  border-radius: 5px;
  // display: grid;
  // align-items: center;
  // justify-content: center;
  // font-size: 30px;
  backdrop-filter: blur(2px);

  // padding: 5px 10px;
  //   position: absolute;
  // .fas {
  //   grid-column: 1;
  //   grid-row: 1;
  //   color: var(--icon-color);
  //   border-radius: 5px;
  //   background-color: rgba(255, 255, 255, 0);
  // }

  // .fa-ban {
  //   display: none;
  // }
  .hamburger {
    display: flex;
  }
  svg {
    height: 40px;
    width: 40px;
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .active svg {
    transform: rotate(90deg);
  }
  path {
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  path:nth-child(1) {
    transform-origin: 36% 40%;
  }
  path:nth-child(2) {
    stroke-dasharray: 29 299;
  }
  path:nth-child(3) {
    transform-origin: 35% 63%;
  }
  path:nth-child(4) {
    stroke-dasharray: 29 299;
  }
  path:nth-child(5) {
    transform-origin: 61% 52%;
  }
  path:nth-child(6) {
    transform-origin: 62% 52%;
  }
  .active path:nth-child(1) {
    transform: translateX(9px) translateY(1px) rotate(45deg);
  }
  .active path:nth-child(2) {
    stroke-dasharray: 225 299;
    stroke-dashoffset: -72px;
  }
  .active path:nth-child(3) {
    transform: translateX(9px) translateY(1px) rotate(-45deg);
  }
  .active path:nth-child(4) {
    stroke-dasharray: 225 299;
    stroke-dashoffset: -72px;
  }
  .active path:nth-child(5) {
    transform: translateX(9px) translateY(1px) rotate(-45deg);
  }
  .active path:nth-child(6) {
    transform: translateX(9px) translateY(1px) rotate(45deg);
  }
}
.togglerActive {
  transform: translateY(20px);
}

.toggler2 {
  left: 330px;
}
.utilityWrap {
  display: none;
  z-index: 100;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 0, 0, 0);
}
.navbar-wrap {
  z-index: 1000;
  height: 0vh;
  width: 280px;
  background-color: var(--nav-color);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 400ms cubic-bezier(0.175, 0.885, 0.32, 1.075);
  position: fixed;
  top: 10px;
  left: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgb(22, 22, 22);

  .navbar {
    // background-color: red;
    height: 90%;
    width: 90%;
    border: 2px solid rgba(255, 255, 255, 0.452);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    .menu {
      // background-color: red;
      height: 93%;
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      //   padding-top: 20px;
      display: none;
      transition-delay: 3000ms;
      text-transform: capitalize;
      a {
        font-size: 25px;
        margin: 5px 20px;
        padding: 5px 5px;
        border-radius: 5px;
        display: flex;
        align-items: baseline;
        transition: 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        .fas {
          text-transform: capitalize;
          margin-right: 25px;
        }
      }
      a:hover {
        background-color: rgba(255, 255, 255, 0.329);
        transform: translateY(-5px);
      }
      a:nth-of-type(2) {
        margin: 20px 20px;
        // margin-top: auto;
        // margin-bottom: 30px;
      }
    }
  }
}
.user-wrap {
  z-index: 1000;
  height: 0vh;
  width: 280px;
  //   background-image: url("surface-455124.jpg");

  //   background-blend-mode: screen;
  background-color: var(--user-color);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 400ms cubic-bezier(0.175, 0.885, 0.32, 1.075);
  position: fixed;
  top: 10px;
  left: 10px;
  box-shadow: 10px 10px 10px rgb(22, 22, 22);
  border-radius: 10px;
  .userPanel {
    // background-color: red;
    height: 90%;
    width: 90%;
    border: 2px solid rgba(255, 255, 255, 0.452);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    .menu {
      // background-color: red;
      height: 93%;
      width: 90%;
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      display: none;
      transition-delay: 3000ms;
      .fa-user {
        font-size: 6rem;
        margin: 10px auto;
      }
      .user-text {
        // border: 2px solid rgba(255, 255, 255, 0.192);
        display: flex;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.192);
        ul {
          text-transform: capitalize;
          padding: 10px 15px;
          text-decoration: underline 1px;
          width: 60%;
          li {
            font-size: 0.9em;
          }
          a {
            font-size: 0.8em;
          }
        }
        .userOther {
          width: 40%;
        }
      }
    }
  }
}
.user-wrap::after {
  content: "";
  background: url(surface-455124.jpg);
  background-size: cover;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.expand {
  height: 40vh !important;
  // left: 20px;
}
.expand-sm {
  height: 20vh !important;
  // left: 20px;
}
.invisible {
  display: none !important;
}
.display {
  display: flex !important;
}

.visible {
  // display: block !important;
  opacity: 1 !important;
}
//PAGE
body {
  background: rgb(12, 100, 59);
}
.container {
  section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    position: absolute;
    transition: 800ms;
  }

  #page1 {
    background: rgb(12, 100, 59);
    // opacity: 1;
    // transition: 500ms;
    .main1 {
      border-bottom: 4px solid rgba(0, 0, 0, 0.404);
      border-top: 4px solid rgba(0, 0, 0, 0.404);
      height: 75%;
      width: 90%;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .title-wrapper {
        background: linear-gradient(
          90deg,
          rgba(0, 255, 55, 1) 40%,
          rgba(0, 255, 201, 1) 50%,
          rgba(0, 224, 255, 1) 60%
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      h1 {
        font-size: 3.4rem;
      }

      h3 {
        position: relative;
        left: 10vw;
        color: rgb(183, 255, 38);
        text-transform: capitalize;
        font-size: 1.5rem;
        animation: neonAnim 2s alternate-reverse infinite;
      }
    }
    .bottom1 {
      height: 15%;
      width: 90%;
      display: flex;
      flex-wrap: wrap;

      .footer {
        flex-grow: 1;
        width: 33%;
        height: 100%;
      }
      .footer:nth-last-of-type(2) {
        border-right: 4px solid rgba(0, 0, 0, 0.404);
        border-left: 4px solid rgba(0, 0, 0, 0.404);
      }
    }
  }
  #page2 {
    background-color: rgb(110, 90, 90);
  }
  #page3 {
    background-color: rgb(85, 19, 19);
  }
  #page4 {
    background-color: rgb(209, 30, 30);
  }
}
